{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id='main' class="container py-5 mb5 text-center">
        <div >
            <img src="{% static 'img/CassetteRemix 1.svg'%}" alt="cassette tape" class = 'cassettediv'>
        </div>
        
        <h1>Welcome to MixList</h1></br>
        <h4>This is the place for you to make your own playlists to share</h4>
        <p>You can add, update, and delete songs from your playlist as you want!</p>
        <br/>
    </div>
{% endblock %}